html, body, div {margin: 0; padding: 0; border: 0 none;}

#intro {
  text-align: center;
}

#container {
  width: 800px;
  border: 1px solid grey;
  height: 800px;
  margin: 0 auto;
}

#shape {
  width: 100px;
  height: 100px;
  background-color: yellow;
  display: none;
  position: relative;
}
